<div class="content">
  <h1>Minimal CRUD with Ember Data</h1>
  <p>
    Demonstrating a minimal implementation of Creating, Reading, Updating, and
    Deleting records using Ember Data.
    In a "Real App," you would have lots of routes, components, and models that would
    handle the functionality, instead of putting the code in application-level
    files like I did here, but let's stick to the bare bones.
  </p>
  <p>
    To learn best practice for application structure, try out the Ember Super Rentals
    Tutorial and read the Ember Guides.
  </p>

  {{!-- see how these aren't DRY? DRY=Don't repeat yourself. IRL we'd use components
  and handlebars templates --}}

  <div>
    Read all:
    <ul>
      {{#each model as |game|}}
        <li>{{game.title}}, id {{game.id}}</li>
      {{/each}}
    </ul>
  </div>

  <div>
    <button {{action 'readBoardGame'}}>Read Board Game 1</button>: {{singleGameName}}
  </div>

  <div>
  	{{input value=newBoardGame placeholder="board game name"}}
    <button {{action 'createBoardGame'}}>Create</button>
  </div>
  <div>
  	{{input value=updatedTitle placeholder="new name for board game 1"}}
    <button {{action 'updateBoardGame'}}>Update</button>
  </div>

  <div>
  	{{input value=destroyId placeholder="id of game to delete"}}
    <button {{action 'destroyBoardGame'}}>Delete</button>
  </div>

</div>

<footer>
  made with &#x2764; in Ember by Jen Weber
</footer>
